boto3
jsonschema
requests
pytest
flake8
pytest-asyncio
opentelemetry-instrumentation
opentelemetry-instrumentation-aws-lambda
opentelemetry-instrumentation-botocore
opentelemetry-semantic-conventions
botocore==1.34.145
opentelemetry-api==1.25.0
opentelemetry-exporter-jaeger==1.21.0
opentelemetry-exporter-jaeger-proto-grpc==1.21.0
opentelemetry-exporter-jaeger-thrift==1.21.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-propagator-aws-xray==1.0.1
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-sdk-extension-aws==2.0.2